.header__img {
  position: relative;
}

.header__pokedex {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 40%;
}

.header__greeting {
  padding-left: 2em;
  padding-bottom: 1em;
}

.header__name {
  color: #dd1a1a;
  font-weight: 700;
}
